<!DOCTYPE html>
<html>
    <head>
        <title>Brook Manager</title>
        <meta charset="utf-8" />
        <meta name="description" content="https://github.com/txthinking/brook" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css" />
        <script src="https://unpkg.com/vue@3.2.29/dist/vue.global.prod.js"></script>
        <script>
            window.addEventListener("DOMContentLoaded", async (e) => {
                var app = {
                    data() {
                        return {
                            row: {
                                id: 0,
                                name: "",
                                level: 0,
                                isdeleted: 1,
                            },
                            ing: false,
                            lang: null,
                        };
                    },
                    async mounted() {
                        this.ing = true;
                        try {
                            if (!localStorage.getItem("admintoken")) {
                                location.href = "./auth.html";
                                return;
                            }
                            var r = await fetch("../lang/lang.json");
                            this.lang = await r.json();
                            if (new URLSearchParams(location.search).get("id")) {
                                var r = await fetch("/adminapi/get_vip_row", {
                                    method: "POST",
                                    headers: { "Content-Type": "application/json" },
                                    body: JSON.stringify({
                                        token: localStorage.getItem("admintoken"),
                                        id: new URLSearchParams(location.search).get("id"),
                                    }),
                                });
                                if (r.status != 200) {
                                    throw await r.text();
                                }
                                this.row = await r.json();
                            }
                        } catch (e) {
                            alert(e.toString());
                        }
                        this.ing = false;
                    },
                    methods: {
                        l(s) {
                            if (!this.lang) {
                                return s;
                            }
                            return this.lang[s] ? this.lang[s][navigator.language] ?? s : s;
                        },
                        async go() {
                            this.ing = true;
                            try {
                                var r = await fetch("/adminapi/save_vip_row", {
                                    method: "POST",
                                    headers: { "Content-Type": "application/json" },
                                    body: JSON.stringify({
                                        token: localStorage.getItem("admintoken"),
                                        row: this.row,
                                    }),
                                });
                                if (r.status != 200) {
                                    throw await r.text();
                                }
                                location.href = "./vip.html";
                            } catch (e) {
                                alert(e.toString());
                            }
                            this.ing = false;
                        },
                    },
                };
                Vue.createApp(app).mount("body");
            });
        </script>
    </head>
    <body>
        <header>
            <h1>Brook Manager</h1>
            <p v-if="row.id">{{l('Edit VIP Level')}}</p>
            <p v-if="!row.id">{{l('Add VIP Level')}}</p>
            <nav>
                <a href="./vip.html">{{l('Back')}}</a>
            </nav>
        </header>
        <main>
            <p>
                <label>{{l('Name')}}</label><br />
                <input type="text" v-model="row.name" />
            </p>
            <p>
                <label>{{l('Level')}}</label><br />
                <input type="number" :disabled="row.id" v-model="row.level" min="0" max="100" />
            </p>
            <p>
                <label>{{l('Is deleted')}}</label><br />
                <label><input name="type" v-model="row.isdeleted" type="radio" value="1" />{{l('No')}}</label>
                <label><input name="type" v-model="row.isdeleted" type="radio" value="2" />{{l('Yes')}}</label> <br />
            </p>
            <button v-if="!row.id" :disabled="ing" @click="go">{{ing ? '...' : l('Add')}}</button>
            <button v-if="row.id" :disabled="ing" @click="go">{{ing ? '...' : l('Update')}}</button>
        </main>
        <footer>
            <p><a href="https://github.com/txthinking/brook">brook</a> | <a href="https://github.com/txthinking/brook-manager">brook-manager</a> | <a href="https://txthinking.github.io/brook/">document</a></p>
            <p>GPLv3</p>
        </footer>
    </body>
</html>
