<!DOCTYPE html>
<html>
    <head>
        <title>Brook Dashboard</title>
        <meta charset="utf-8" />
        <meta name="description" content="https://github.com/txthinking/brook" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css" />
        <script src="https://unpkg.com/vue@3.2.29/dist/vue.global.prod.js"></script>
        <script>
            window.addEventListener("DOMContentLoaded", async (e) => {
                var app = {
                    data() {
                        return {
                            setting: {},
                            username: "",
                            password: "",
                            ing: false,
                            lang: null,
                        };
                    },
                    async mounted() {
                        this.ing = true;
                        try {
                            var r = await fetch("./lang/lang.json");
                            this.lang = await r.json();
                            var r = await fetch("/userapi/get_setting");
                            if (r.status != 200) {
                                throw await r.text();
                            }
                            var l = await r.json();
                            l.forEach((v) => {
                                this.setting[v.k] = v.v;
                            });
                        } catch (e) {
                            alert(e.toString());
                        }
                        this.ing = false;
                    },
                    methods: {
                        l(s) {
                            if (!this.lang) {
                                return s;
                            }
                            return this.lang[s] ? this.lang[s][navigator.language] ?? s : s;
                        },
                        async go() {
                            this.ing = true;
                            try {
                                var r = await fetch("/userapi/signin", {
                                    method: "POST",
                                    headers: { "Content-Type": "application/json" },
                                    body: JSON.stringify({
                                        username: this.username,
                                        password: this.password,
                                    }),
                                });
                                if (r.status != 200) {
                                    throw await r.text();
                                }
                                var j = await r.json();
                                localStorage.setItem("usertoken", j.token);
                                location.href = "./index.html";
                            } catch (e) {
                                alert(`${e}`);
                            }
                            this.ing = false;
                        },
                    },
                };
                Vue.createApp(app).mount("body");
            });
        </script>
    </head>
    <body>
        <header>
            <h1>{{setting.site_name}}</h1>
            <p>{{setting.announcement}}</p>
        </header>
        <main>
            <p>
                <label>{{l('Username')}}</label><br />
                <input type="text" v-model="username" />
            </p>
            <p>
                <label>{{l('Password')}}</label><br />
                <input type="password" v-model="password" />
            </p>
            <button :disabled="ing" @click="go">{{ing ? '...' : l('Signin')}}</button><br />
            <a href="./signup.html">{{l("Don't have an account yet? Sign up now")}}</a>
        </main>
        <footer>
            <p>{{l('The current site is built by the merchant based on the open source software brook-manager(https://github.com/txthinking/brook-manager), and brook has no interest in you. If you encounter problems, please contact the merchant.')}}</p>
            <p><a :href="setting.site_telegram">{{setting.site_telegram}}</a></p>
        </footer>
    </body>
</html>
